<div class="copy-width">
  <h2>About TechGuru</h2>
  <p>AI had to go back and look to be sure, but this is now the 7th iteration of teehanlax.com. It’s by far the biggest departure we’ve taken and quite a bit different from a traditional design agency site.</p>
  <h3>It’s different for a reason</h3>
  <p>We don’t list out our services. You won’t find a portfolio section. When we talk about our work, it’s done as long-form story-telling. We call them Stories of Making. They’re quite long, but give them a chance because we didn’t write them to read like case studies. We don’t list cringe-worthy “results”—We talk about what we learned in the hopes you can learn something too. They’re open and honest. They reveal failures, not just successes.</p>
  <h3>Written for you, our peers</h3>
  <p>We don’t list out our services. You won’t find a portfolio section. When we talk about our work, it’s done as long-form story-telling. We call them Stories of Making. They’re quite long, but give them a chance because we didn’t write them to read like case studies. We don’t list cringe-worthy “results”—We talk about what we learned in the hopes you can learn something too. They’re open and honest. They reveal failures, not just successes.</p>
  <h3>Written for you, our peers</h3>
  <p>We don’t list out our services. You won’t find a portfolio section. When we talk about our work, it’s done as long-form story-telling. We call them Stories of Making. They’re quite long, but give them a chance because we didn’t write them to read like case studies. We don’t list cringe-worthy “results”—We talk about what we learned in the hopes you can learn something too. They’re open and honest. They reveal failures, not just successes.</p>
  <p>We have a ton more to share about the new site, but it’ll be far better experienced in a forthcoming making of story than it will be in this blog post. In addition to new stories we’ll be posting up new tools that help you do your job. We also have some old sections (like this blog) that will be getting an overhaul.</p>
</div>