<div class="copy-width">
  <h2>Singapore Startup Ecosystem</h2>
  <p>Although <span class="underline">Singapore</span> is a small “country”, but you will stuck if you are not in the startup community yet. <%= link_to "You might need", root_path %> You might need to spend tons of time just trying to find what is going on</p>
  <h3>They consisted of questions like:</h3>
  <ul class="normal">
    <%- (0..5).each do -%>
    <li><%= Faker::Lorem.sentence %></li>
    <%- end -%>
  </ul>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <ul class="checklist">
    <li>A brand and UI system</li>
    <li>Collections</li>
    <li>Article with image (and editor)</li>
    <li>Text only article (and editor)</li>
    <li>Image and Caption (and editor)</li>
  </ul>
  <p><%= Faker::Lorem.paragraph(10) %></p>
  <dl>
    <dt>6 Month Commitment</dt>
    <dd>Product design isn’t just about getting to market—it would need refinement after launch.</dd>

    <dt>SWAT Team</dt>
    <dd>Geoff would head up a team of 4 that would lead and help execute the UX of Medium with their existing team.</dd>

    <dt>Working Remotely</dt>
    <dd>A third to nearly half of our time would be spent in the Obvious office in San Francisco.</dd>

    <dt>Deep integration</dt>
    <dd>Everyone working on the team would be treated like Obvious employees. New Obvious email addresses, access to GitHub, Campfire, even access to the <a href="https://www.anybots.com/">Anybot</a> to ‘attend’ stand-up meetings in San Francisco when we were in Toronto.</dd>

    <dt>Absolute Focus</dt>
    <dd>This team would only work on Medium—Nothing else.</dd>
  </dl>
</div>
<blockquote>
   “That <span class="underline">summer</span> of 2002 were the darkest days of the dot-com bust.” 
</blockquote>
<div class="copy-width">
  <ol>
    <li>"Don’t just tell me what the news is, let me experiment and take action."</li>
    <li>“This is a place that I can belong.”</li>
    <li>“Don’t just give me a single, institutional, hedged point of view.”</li>
  </ol>
</div>