<div id="page-container">
  <div id="home" class="story-container">
    <div class="story-content">
      <section class="intro">
        <div class="site-width">
          <div class="copy-width">
            <h4>TechGuru Singapore</h4>
            <h1>Place to Learn Tech Startups</h1>
          </div>
        </div>
      </section>
      <section class="bg-gray-1" id="section1">
        <div class="site-width">
          <%= render 'pages/home/about' %>
        </div>
      </section>
      <section class="bg-gray-2" id="section2">
        <div class="site-width">
          <%= render 'pages/home/singapore_eco_system' %>
        </div>
      </section>
      <%= render 'pages/home/what_we_learnt' %>
    </div>
  </div>
</div>