<div id="page-container">
  <div id="home" class="story-container">
    <div class="story-content">
      <section class="intro">
        <div class="site-width">
          <div class="copy-width">
            <h4>TechGuru Singapore</h4>
            <h1>Place to Learn Tech Startups</h1>
          </div>
        </div>
      </section>
      <section class="bg-gray-1">
        <div class="site-width">
          <div class="copy-width">
            <h2>Singapore Startup Ecosystem</h2>
            <p>Although Singapore is a small “country”, but you will stuck if you are not in the startup community yet. You might need to spend tons of time just trying to find what is going on</p>
            <h3>They consisted of questions like:</h3>
            <ul class="normal">
              <%- (0..5).each do -%>
              <li><%= Faker::Lorem.sentence %></li>
              <%- end -%>
            </ul>
            <p><%= Faker::Lorem.paragraph(7) %></p>
            <p><%= Faker::Lorem.paragraph(10) %></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>