@include font-face("techguru", font-files("techguru.woff", "techguru.ttf"), "techguru.eot", normal, normal);

[data-icon]:before {
	font-family: 'techguru';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon span {
  display:none;
}

@include font-face("nanum-pen-script", font-files("nanumpenscriptregular.woff", "nanumpenscriptregular.ttf"), "nanumpenscriptregular.eot", normal, normal);