li {
  list-style: none;
}

body {
  font-size: 18px;
}

h1 {
  font-family: $proximanova;
  font-size: emCalc(38px);
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 0.95em;
  line-height: 1.1;
}

h2 {
  font-family: $proximanova;
  font-size: emCalc(31px);
  font-weight: 700;
  letter-spacing: -0.04em;
  margin: 1.5152em 0 1em;
  line-height: 1.1;
}

h3 {
  font-family: $proximanova;
  font-size: emCalc(20px);
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 1.5152em 0 1em;
  line-height: 1.1;
}

h4 {
  font-family: $proximanova;
  font-size: emCalc(16px);
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 1.5152em 0 1em;
  line-height: 1.1;
}

h5 {
  font-family: $ffmetaserif;
  font-size: emCalc(11px);
  letter-spacing: .1em;
  margin-top: 6.5385em;
  text-transform: uppercase;
  line-height: 1.1;
}

h6 {
  font-family: $ffmetaserif;
  font-size: emCalc(11px);
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 1.1;
}

blockquote {
  font-family: $ffmetaserif;
  font-size: 2.0556em;
  line-height: 1.2;
  text-align: center;
  margin: 1.087em 0 1.6304em;
  letter-spacing: -0.02em;
}

ol, ul.checklist {
  border-top: 1px solid #c5c9c9;
  margin: 2.0833em 0 3.3333em;
}

ol li, ul.checklist li {
  border-bottom: 1px solid #c5c9c9;
  padding: 0.8333em 0.8333em 0.8333em 3.125em;
  font-family: $ffmetaserif;
  line-height: 1.25;
  color: #323232;
  &:before {
    display: block;
    margin-left: -3.4583em;
    padding: 0 1.25em;
    float: left;
    color: #03a2ca;
    font-family: $proximanova;
    font-weight: 700;
    font-size: 1em;
  }
}

ol {
  counter-reset: ordered-list;
}

ol li:before {
  content: counter(ordered-list);
  counter-increment: ordered-list;
}

ul.checklist li:before {
  content: "O";
  font-family: $techguru;
}

ul.normal {
  margin-bottom: 1.5385em;
  li {
    list-style-type: none;
    background: inline-image("bullet.png") no-repeat left 0.5em;
    margin-bottom: 0.5769em;
    padding-left: 1.1538em;
  }
}

dl {
  dd, dt {
    font-family: $ffmetaserif;
    line-height: 1.5;
    margin-bottom: 1.9231em;
  }
  dt {
    font-weight: 700;
    margin-bottom: 0.1923em;
  }
}

a {
  color: #3ea5ce;
  text-decoration: none;
  @include transition(color .2s);
  &:hover {
    color: #279;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

@media #{$medium} {
  body {
    font-size: 22px;
  }
  h1 {
    font-size: 3.4188em;
  }
  h2 {
    font-size: 2.8563em;
  }
  blockquote {
    font-size: 2.8em;
  }
}

@media #{$large} {
  body {
    font-size: 26px;
  }
  blockquote {
    font-size: 3em;
  }
}