.story-container {
  position: relative;
  z-index: 200;
  height: 100%;
  margin-bottom: 17.3em;
  a {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;
    &:hover {
      text-decoration: none;
    }
  }
  h1, h2 {
    text-align: center;
  }
  section h2 {
    margin: 1.3466em 0 0.8753em;
  }
  span.underline {
    background: inline-image("ui/text-underline-1.png") no-repeat left 1.11em;
    background-size: 5.5555em 0.1944em;
    &.alt {
      background: inline-image("ui/text-underline-2.png") no-repeat left 1.11em;
    }
  }
  span.scratched {
    background: inline-image("ui/text-scratchout-1.png") no-repeat left 1.11em;
    padding: 0 0 0.2308em 0.2308em;
    background-size: 236%;
  }
  .callout {
    font-family: $nanumpenscript;
  }
  .story-content {
    margin: 0 auto;
    section {
      padding: 1.9231em 0 1.9231em;
    }
  }
  .icon.tglogo {
    display: block;
    text-align: center;
    font-size: 1.3462em;
    margin: 3.8462em 0 -3.0769em;
  }
  .icon.interaction {
    display: block;
    text-align: center;
    font-size: 1.1538em;
    margin: 1.5385em 0 1.5385em;
  }
  .interaction-info {
    font-family: $ffmetaserif;
    font-size: 0.6154em;
    font-style: italic;
  }
  .interaction-wrap {
    text-align: center;
    .icon.interaction, .interaction-info {
      @include inline-block;
      vertical-align: middle;
      @include transition(opacity .3s);
    }
    .icon.interaction {
      margin: 0 0.3846em;
      @include opacity(70);
      @include animation(pulser 3s ease infinite);
      &:hover {
        @include opacity(100);
        cursor: pointer;
      }
    }
    .interaction-info {
      @include opacity(0);
    }
    &.hover {
      .icon.interaction, .interaction-info {
        .icon.interaction, .interaction-info {
        }
      }
    }
  }
  .intro {
    text-align: center;
    p {
      text-align: left;
    }
    .logo {
      margin: 4px 0 1.9231em;
    }
  }
  .what-we-learned {
    background: #eee;
    .tglogo {
      color: #333;
      margin-bottom: 0.7692em;
    }
    h3 {
      display: block;
      text-align: center;
      color: #333;
      margin-bottom: 10px;
    }
    p {
      color: #404040;
    }
    blockquote {
      color: #888;
      margin: 1.3514em 0;
    }
    .employee {
      text-align: center;
      margin: -1.11em 0 1.94444em;
      span {
        display: block;
        font-family: $proximanova;
        font-size: 13px;
        color: #b3b3b1;
        margin-top: 5px;
      }
    }
  }
  .sharing-tools {
    text-align: center;
    padding-top: 1.9231em;
    .network {
      @include inline-block;
      width: 100px;
      height: 20px;
      @include transition(background-color .5s);
      cursor: pointer;
    }
    .fb-like {
      float: left;
    }
    .cta {
      font-family: $proximanova;
      font-size: 18px;
      color: #666;
      display: block;
      margin: 30px 0;
    }
  }
}

@media #{$medium} {
  .story-container {
    .what-we-learned {
      h3 {
        margin: 0.1923em 0 -0.6410em;
      }
      blockquote {
        margin: 1.8293em 0 0.65em;
        line-height: 1.1;
      }
    }
  }
}

//@media #{$medium} {
//  .story-container .icon.tglogo {
//    font-size: 17px;
//  }
//  .story-container span.scratched {
//    background-size: 340px 47px;
//    background-position: left 28px;
//  }
//  .story-container .what-we-learned blockquote {
//    font-size: 72px;
//    line-height: 82px;
//  }
//  .story-container .what-we-learned h3 {
//    margin-bottom: -40px;
//  }
//}
//@media #{$small} {
//  .story-container .icon.tglogo {
//    font-size: 19px;
//    margin: 10px 0 10px;
//  }
//  .story-container .intro .logo {
//    margin-bottom: 55px;
//  }
//  .story-container span.scratched {
//    background-size: 200px 44px;
//  }
//  .story-container .what-we-learned blockquote {
//    font-size: 36px;
//    line-height: 42px;
//    margin: 50px 0;
//  }
//  .story-container .what-we-learned h3 {
//    margin-bottom: 10px;
//  }
//}