$ffmetaserif: "ff-meta-serif-web-pro", Georgia, serif;
$proximanova: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$helveticaneue: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$nanumpenscript: "nanumpenscript", Helvetica, Arial, sans-serif;
$techguru: "techguru";

$primaryBlue: #3EA5CE;
$bg-gray-1: #EEE;
$bg-gray-2: #E4E4E4;