<nav class="top-bar">
  <div class="site-width">
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to "techguru.sg", root_path %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <%= link_to '#' do %>
          <span></span>
          <%- end -%>
        </li>
      </ul>
      <div class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li>
            <%= link_to "Contact", '#' %>
          </li>
        </ul>
    </div>
  </div>
</nav>